---
title: Accueil
layout: layouts/home.njk
eleventyNavigation:
  key: Accueil
  order: 1
numberOfLatestPostsToShow: 3
---

<div class="fr-py-6w fr-background-alt--blue-cumulus">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8">
        <h1>Réduire l’empreinte environnementale du numérique public</h1>
        <p class="fr-text--lead">
          La MiNumEco, la Mission Interministérielle Numérique Écoresponsable, accompagne les administrations dans la réduction de
          l'empreinte environnementale du numérique public.
        </a>.
      </p>
    </div>

    <div class="fr-hidden fr-unhidden-md fr-col-md-4">
      <img src="/eleventy-dsfr/icons/1F3DB.svg" alt="" width="256"></div>
    </div>
  </div>
</div>

<div class="fr-container fr-pt-4w">
  <section>
    <h2>Les dernières actualités</h2>
    <div class="fr-grid-row fr-grid-row--gutters fr-py-3w">
      {% for post in collections.posts | head(-3) | reverse %}
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
              <h2 class="fr-card__title">
                <a href="{{ post.url }}" class="fr-card__link">{{ post.data.title }}</a>
              </h2>
              <p class="fr-card__detail ">{{ post.data.date | readableDate }}</p>
            </div>
            <div class="fr-card__img">
              <img src="{{ post.data.image }}" alt="" class="fr-responsive-img">
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<p>
			<a href="/actualités/" class="fr-link fr-fi-arrow-right-line fr-link--icon-right">Voir plus d'actualités</a>
		</p>
	</section>

	<section>
		<h2>Ressources multimédias</h2>
	</section>

	<section>
		<h2>S'inscrire aux prochaines formations</h2>
	</section>
</div>
