---
layout: layouts/referentiel-ecoconception.njk
type: publication
eleventyExcludeFromCollections: true
date: 2024-09-24
permalink: "/publications/referentiel-general-ecoconception/critere/{{ critere.numero | slug }}/"
eleventyComputed:
    title: "{{ critere.critere | safe }}"
---
{# image: /img/publications/referentiel-general-ecoconception/referentiel-ecoconception.webp #}

{# pagination:
    data: referentiel-ecoconception
    size: 1
    alias: critere #}
