---
layout: layouts/base.njk
permalink: /actualites/
---

<div class="fr-container fr-py-6w">
  {% include "components/breadcrumb.njk" %}

  <h1>{{ title }}</h1>

	<h2>Études et mesures</h2>



	<h2>Achats</h2>



	<h2>Écoconception des services numériques</h2>



	<h2>Data Center</h2>

{#
  {% set postslist = collections.posts | reverse %}

  {% include "postslist.njk" %} #}
</div>
