---
layout: layouts/base.njk
---

{% set postslist = collections.all | reverse %}
{% set tags = collections.all | getAllTags %}

<div class="fr-container fr-py-6w">
  <h1>{{ title }}</h1>

  <div class="fr-mt-6v fr-mb-6w">
    <h2>Tags</h2>
    {% include "components/taggroup.njk" %}
  </div>

  <div class="fr-mt-6v fr-mb-6w">
    <h2>Contenus</h2>

    <strong>Nombre de pages existantes :</strong> {{ postslist.length }}

{% for tag in tags %}
{% for post in collections.tag %}
  {{ post.data.title }}
{% endfor %}
{% endfor %}

    {% include "postslist.njk" %}
  </div>
</div>
