---
layout: layouts/base.njk
permalink: "{{ title | slugify }}"
---
<div class="fr-container fr-py-6w">
  {% include "components/breadcrumb.njk" %}
  <div class="fr-grid-row fr-grid-row--center" data-pagefind-body>
    <div class="fr-col-12 fr-col-md-8">
      <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-9">
          <hgroup>
            <h1>{{ title }}</h1>
						{% if tags %}
							{% include "components/taggroup.njk" %}
						{% endif %}
						{% if serie %}
							<p class="fr-mb-1w">Série : {{serie}}</p>
						{% endif %}
						<p class="fr-text--xs">
              {{ "published_on" | i18n }}
              <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
            </p>
          </hgroup>
        </div>
        <div class="fr-col-12 fr-col-md-3">
          {% include "templates/share.njk" %}
        </div>
      </div>
      {{ content | safe }}
    </div>
  </div>
</div>
